<p>channel works!</p>

<!-- creating routerLink dynamically based on the amount of channelNames in the array in the service -->
<a *ngFor="let tempCh of dataService.dataArray; let i = index"
  routerLink="/channels/{{tempCh.channelName}}">
  <div (click)="selectedChannel(i)">{{tempCh.channelName}}</div>
</a>


<!-- displaying messages to see if messages change based on channel clicked -->
<div *ngFor="let tempMsg of displayMessages">
    {{tempMsg.username}}: {{tempMsg.messageText}}
</div>


<!-- did a simple copy paste from chat componenet. now chat componenet has its own seperate information. I need to either make chat component work with channel component or remove chat componenent and have channels component deal with the chat part like it is doing now. -->
<input
#message
(keyup.enter)="saveMsg({username: currentUsername, avatarURL: currentUserAvatarURL, messageText: message.value, dateTime: this.currentDate, edited: currentIsEdited}); message.value='' ">
<p *ngFor="let userMessage of displayMessages">
    <img class="avatars" src={{userMessage.avatarURL}}>
     {{userMessage.username}}: {{userMessage.dateTime | date: 'medium'}}: {{userMessage.messageText}}
</p>


<!-- just testing routerLink with navigation for now. -->
<!-- <nav>
    <a routerLink="/chat">Chat</a>
</nav>
<router-outlet></router-outlet> -->